DB_URL=jdbc:postgresql://localhost:5432/cardtracker
DB_USER=cardtracker_admin
DB_PASS=CardTracker_2026_ChangeMe!
DOCKER_IMAGE=ghcr.io/rasimtuzluoglu/raspel-fin:latest
TELEGRAM_BOT_TOKEN=buraya_telegram_bot_token_yazilacak