DB_URL=jdbc:postgresql://localhost:5432/cardtracker
DB_USER=cardtracker_admin
DB_PASS=CrT4k3r_2026_S3cur3!
DOCKER_IMAGE=ghcr.io/rasimtuzluoglu/raspel-fin:latest
TELEGRAM_BOT_TOKEN=buraya_telegram_bot_token_yazilacak
